@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap ');
/*FONTE = MARHEY*/

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
/*ICONE DO TELEFONE*/

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css');
/* ICONE DA CAIXA DE EMAIL */

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css');
/* ICONE DO MAPA/LOCALIZAÇÃO */


@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
/* LOGO FACEBOOK */

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
/* LOGO WHATSSAP */

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
/* LOGO INSTAGRAM */

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
/* LOGO X */

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css');
/* ICONE DE CONFIGURAÇÕES NO MOBILE/TABLET */


:root{
    --azul_claro: rgb(0, 172, 230);
    --amarelo_canário: rgb(255, 187, 0);
    --verde_limão: rgb(0, 202, 0);
    --preto: rgb(0, 0, 0);
    --branco: rgb(255, 255, 255);
    --vermelho: rgb(255, 0, 0);

}

body{
    margin: 0px; /*tira as margens de qualquer contéudo*/
    font-family: 'Marhey', Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(imagens/nuvem.png);
}



#container{
    text-align: center;
}



#menu_topo{
    width: 100%; /* ocupa 100% da largura da página */
    height: 90px;
    background-color: var(--azul_claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#menu_topo > img{
    margin-left: 10px;
}


#caixa_menus{
    display: flex;

}


.item_menu{
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: 25px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 40px 0px 40px 40px;
    color: white;
    transition: 0.2s;
   
}


.item_menu:hover{
    cursor: pointer;
    background-color: var(--amarelo_canário);
    transition: 0.2s;
    color: black;
}


.menu_ativado{
    background-color: var(--vermelho);
}


#banner{
    width: 100%;
    height: 40vw; /* médida vw representa toda a médida do navegador, 100% da página*/
    background-image: url(imagens/criancas.jpg);
    background-size: cover; /* ajusta o tamanho da imagem que está de fundo */ /* COVER -> faz com que a imagem se ajuste ao tamanho da tela*/
    /* Para centralizar a div , é necessário utilizar os três comandos abaixo*/
    display: flex;
    align-items: center;
    justify-content: center;

    
}


#mensagem{
    background-color: rgba(0, 173, 230, 0.6);
    color: white;
    font-size: 20px;
    padding: 40px;
    text-align: center;
    width: 800px;
    height: 250px;
    border-radius: 70px 20px ;

}

#secao_01, #secao_02{
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    text-align: left;
    padding: 30px;
    width: 70%;
    margin: auto;
    

}


#crianca_secao_01{
    background-image: url(imagens/criancas2.jpg);
    width: 450px;
    height: 350px;
    background-size: cover;
    border-radius: 70px 20px;
}


#conteudo_secao_01 > h1{
    font-size: 40px;
    margin-left: 15px;
    
}

#conteudo_secao_01 > p{
    margin-left: 15px;
    
}

#crianca_secao_02{
    width: 60%;
    height: 350px;
    background-image: url(imagens/criancas3.jpg);
    background-size: cover;
    border-radius: 40px 0px 0px 40px;


}

#conteudo_secao_02{
    background-color: var(--verde_limão);
    width: 40%;
    border-radius: 0px 40px 40px 0px;
    color: var(--branco);
    text-align: left;
}

#conteudo_secao_02 h1{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    
}

#conteudo_secao_02 p{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    
}

#rodape{
    background-color: var(--azul_claro);
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.conteudos_rodape{
    width: 33%;
    height: 300px;
    /* border: 1px solid red; */
    text-align: left;
    color: var(--branco);
}


.icones{
    font-size: 40px;
    margin-right: 10px;
}


#coluna_03 img{
    width: 400px;
}


#coluna_02 i{
    margin-left: 60px;
}


#coluna_01 h1{
    margin-top: -15px;
}


#copyright{
    min-width: 100%;
    color: var(--branco);
}

#menu_mobile_tablet{
    background-color: red;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 30px;
    font-size: 30px;
    color: var(--branco);
    display: none;
}

/* configuração de responsividade para smartphones */
@media screen and (max-width: 480px){ 
    #menu_mobile_tablet{
        display: flex;
    }
    #menu_topo{
        display: none;
    }
}

/* configuraçao para tablets */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    #menu_mobile_tablet{
        display: flex;
    }
    #menu_topo{
        display: none;
    }
}
